<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <p> Welcome <%=@user.username%>, To IGClone! </p>
    </body>
</html>