.splash-container {
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10vh;
}

.iphone-image {
    width: 350px;
}

.login-container {
    width: 350px;
    background-color: white;
    border: 1px solid RGB(231, 231, 231);
    display: grid;
    /* grid-auto-flow: row; */
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
}